.card:hover img {
transform: scale(1.1,1.1 );
transition-duration: 400ms;
transition-timing-function: ease-out;


}
.card  img {
transform: scale(1,1);
transition-duration: 400ms;
transition-timing-function: ease-out;


}

.card-img-wrapper {

overflow: hidden;
position: relative;

}

.members-icon{


    position: absolute;


    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -30%;
    opacity: 0;
}

.card-img-wrapper:hover .members-icon{

    bottom: 0;
    opacity: 1;
}

.animate {
transition: all ease-in-out;
}


@keyframes fa-blink{

    0% {opacity: 1;}

     100% {opacity: 0.4;}   
}


.is-online{

    animation: fa-blink  1.5s linear infinite;

    color: green;
}