<!-- instead of using the ngig we will use @if -->


<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Social Media App</a>


      <div class="collapse navbar-collapse" id="navbarCollapse">
             @if(accountservice.currentuser()){
 <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Lists</a>
          </li>


            <li class="nav-item">
            <a class="nav-link">Messages</a>
          </li>

                      <li class="nav-item">
            <a class="nav-link" (click)="logout()" >Logout</a>
          </li>

        </ul>

        
      }


      @if(accountservice.currentuser()){

        <div  dropdown class="dropdown ms-auto" >
            <a dropdownToggle class="dropdown-toggle text-light " style="text-decoration: solid;"> welcome user {{model.userName}}</a>
            <div *dropdownMenu   class="dropdown-menu">
                <a class="dropdown-item" (click)="logout()">Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Edit Profile</a>

            </div>
        </div>
      }
      @if (!accountservice.currentuser()) {
        <form class="d-flex ms-auto" #loginForm="ngForm" autocomplete="off" (ngSubmit)="login()">
          <input class="form-control me-2" type="text" name="userName" placeholder="UserName" [(ngModel)]="model.userName">
          <input class="form-control me-2" type="password" name="Password" placeholder="Password" [(ngModel)]="model.password">
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form>
      }

      </div>
    </nav>
